.QuizSite__container {
    padding: 4vmax 7vmax 0;
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 
    width, height and margin need to match QuizSite__solutionContainer to prevent layout change
    when showing solutions
*/
.QuizSite__answerButton {
    width: 12em;
    height: 3.5em;
    display: block;
    margin: 2em auto 2.5em;

    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 120%;

    color: #f5f7fb;
    cursor: pointer;
    border: none;
    background: #4d5b9e;
    border-radius: 10px;
}

.QuizSite__answerButton:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

/* 
    height and margin need to match QuizSite__answerButton to prevent layout change
    when showing solutions
*/
.QuizSite__solutionContainer {
    height: 3.5em;
    margin: 2em auto 2.5em;

    font-family: "Inter", sans-serif;
}

.QuizSite__rightSolutions {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.5rem;

    color: #293264;
}

.QuizSite__playAgainButton {
    display: inline;
    width: 10em;
    height: 3em;
    margin-left: 2em;

    font-weight: 600;
    font-size: 1rem;
    line-height: 120%;

    color: #f5f7fb;
    background: #4d5b9e;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.QuizSite__playAgainButton:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
