@import "./components/IntroSite/IntroSite.css";
@import "./components/QuizSite/QuizSite.css";
@import "./components/Question/Question.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

:root,
body,
#reactRoot,
.App__container {
    width: 100%;
    min-height: 100vh;
}

:root {
    font-size: 62.5%;
}

.App__container {
    position: relative;
}

.App__blob {
    width: max(20vw, 30vh);
    position: absolute;
    z-index: -1;
}

.App__blob--lemony {
    top: 0;
    right: 0;
}

.App__blob--baby {
    bottom: 0;
    left: 0;
}
