@import "./components/IntroSite/IntroSite.css";
@import "./components/QuizSite/QuizSite.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

:root, body, #reactRoot, .App__container {
    width: 100%;
    height: 100%;

    font-size: 62.5%;
}

.App__blob {
    width: max(30vw, 40vh);
    position: absolute;
}

.App__blob--lemony {
    top: 0;
    right: 0;
}

.App__blob--baby {
    bottom: 0;
    left: 0;
}